
<form #form="ngForm" (ngSubmit)="submit(form)">

  <h2>Create new Workshop</h2>
  
  <div class="form-group">
    <label for="workshopTitle">Worshop Title</label>
    <input required ngModel  name="workshopTitle" #wsTitle="ngModel" id="workshopTitle" type="text" class="form-control"/>
    <div class="alert alert-danger" *ngIf="wsTitle.invalid && wsTitle.touched">Workshop Title is required.</div>
  </div>
  
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input required ngModel #startDate="ngModel" name="startDate" type="date" id="startDate" class="form-control">
    <div class="alert alert-danger" *ngIf="startDate.invalid && startDate.touched">Start Date is required.</div>
  </div>
    
  <div class="form-group">
    <label for="location">Location</label>
    <input ngModel name="location" type="text" id="endDate" class="form-control">
  </div>
  
  <button class="btn btn-primary" [disabled]="form.invalid">Submit</button>
</form>