
<form action="">

  <h2>Create new Workshop</h2>
  
  <div class="form-group">
    <label for="workshopTitle">Worshop Title</label>
    <input id="workshopTitle" type="text" class="form-control"/>
  </div>
  
  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" id="startDate" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="endDate">End Date</label>
    <input type="date" id="endDate" class="form-control">
  </div>
  
  <div class="form-group">
    <label for="location">Location</label>
    <input type="text" id="endDate" class="form-control">
  </div>
  
  <button class="btn btn-primary">Submit</button>
</form>